.block {
    border-radius: 10px;
    margin: 0px auto;
    max-width: 600px;
    padding: 1px 30px;
}

.block.click-block {
    border-radius: 0px;
    border-bottom: 1px solid var(--color-hairline);
    cursor: pointer;
    transition: background-color 0.2s;
}
.block.click-block:hover{
    background-color: var(--color-bg-raise);
}

.block h1 {
    font-size: 32px;
    font-variant: normal;
    font-weight: 700;
}
.block h1::first-letter {
    font-weight: 700;
}
.block h2 {
    font-size: 28px;
    font-variant: normal;
    font-weight: 700;
}
.block h2::first-letter {
    font-weight: 700;
}
.block h3 {
    font-size: 24px;
    font-variant: normal;
    font-weight: 700;
}
.block h3::first-letter {
    font-weight: 700;
}
.block h4 {
    font-size: 20px;
    font-variant: normal;
    font-weight: 700;
}
.block h5::first-letter {
    font-weight: 700;
}

.block p {
    width: 100%;
    text-align: left;
}

.block img {
    width: 100%;
}